 
<!DOCTYPE html>
<html>
  <!doctype html>
  <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/zephyr/bootstrap.min.css" integrity="sha512-gmJFuKTEQw6aHC2cWdrmdEHYw/M/8+bfsKmsJCcQ5hoI7WoOtkQ9hs7P0fqpBGRHHqBBJMibeCfhmk8So5qYUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      </head>
      <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="Flipkart.webp" width="15%"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=<%="/cart/" + uemail%> >Cart</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href=<%="/user/sharedcarts/" + uemail%>>Shared Cart List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=<%="/user/cartssharedto/" + uemail  %>>Cart Shared With</a>
                      </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">Logout</a>
                    </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li> -->
              </ul>
              <!-- <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </nav>
        
  <br>
  <br>
<div class="row">

    <div class="col-md-3" ></div>
    <!--loop it -->
    <div class="col-md-6" >


  <div class="card border-primary">

    <div class="card-header">Your Cart</div>
    <div class="card-body">

        <div class="row">

    
            <div class="col-md-12">
                <form action="/cart/shareCart" method="POST">
                <div class="form-group">
                
                      <div class="input-group mb-3">
                        <input type = "hidden" name = "sharedbyemail" value = <%= uemail %> />
                        <input type="text" name="sharedtoemail" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Share !!</button>
                      </div>
                    </div>
                </form>
                  </div>
    
    
            </div>
          </div>

     <% for(let d of doc) { %>     
     <div style="border:2px solid black; margin: 1rem; padding: 1rem">
      <h4 class="card-title"><%= d.productname %></h4>
      <p class="card-text"><%= d.description %></p>
    </div>
    <% } %>

      <Center>
      <div class="row">
        <div class="col-md-9">
      
            
        </div>

        <div class="col-md-3">
        <button type="submit" class="btn btn-primary" disabled="true">Buy Now!!</button>


        </div>
      </div>
      </Center>
      

    </div>
    </div>

     <!--loop it -->

  </div>

  <div class="col-md-3" ></div>





</div>
</div>

</div>
